<ng-container *ngIf="states.initComplete.value">
    <form login [class.visible]="!states.loggedIn.value">
        <mat-card>
            <div logo mat-card-image><img src="assets/svg/logo.svg"/></div>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.forms.username.placeholder[states.lang.value]}}</mat-label>
                <input matInput [formControl]="usernameFormControl" (input)="hideLoginError()"/>
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                    <text-label id="forms.username.required"></text-label>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.forms.password.placeholder[states.lang.value]}}</mat-label>
                <input matInput type="password" [formControl]="passwordFormControl" (input)="hideLoginError()"/>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    <text-label id="forms.password.required"></text-label>
                </mat-error>
            </mat-form-field>
            <button sign-in mat-flat-button color="primary" (click)="login()">
                <text-label id="forms.signin"></text-label>
            </button>
            <text-label error [id]="states.loginError.value ? 'forms.error.' + states.loginError.value : ''"
                        [class.visible]="states.loginErrorVisible.value"></text-label>
            <button mat-button forgot-password (click)="forgotPassword()">
                <text-label id="forms.forgotPassword"></text-label>
            </button>
        </mat-card>
    </form>
    <div main [class.visible]="states.loggedIn.value">
        <div menu>
            <div top>
                <div logo>
                    <img logo src="assets/svg/logo_small.svg"/>
                </div>
                <mat-action-list menu-container>
                    <ng-container *ngFor="let menuItem of menuItems">
                        <ng-container *ngIf="menuItem != null">
                            <button mat-list-item [class.selected]="states.selectedMenu.value === menuItem"
                                    (click)="states.selectedMenu.set(menuItem)">
                                <text-label [id]="'menu.' + menuItem"></text-label>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="menuItem == null">
                            <mat-divider></mat-divider>
                        </ng-container>
                    </ng-container>
                </mat-action-list>
            </div>
            <button compact-menu mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
                <text-label [id]="'menu.' + states.selectedMenu.value"></text-label>
                <mat-menu #menu="matMenu" class="top-menu">
                    <ng-container *ngFor="let menuItem of menuItems">
                        <ng-container *ngIf="menuItem != null">
                            <button mat-menu-item [class.selected]="states.selectedMenu.value === menuItem"
                                    (click)="states.selectedMenu.set(menuItem)">
                                <text-label [id]="'menu.' + menuItem"></text-label>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="menuItem == null">
                            <mat-divider></mat-divider>
                        </ng-container>
                    </ng-container>
                </mat-menu>
            </button>
            <div logout *ngIf="states.user.value">
                <user-info></user-info>
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>person</mat-icon>
                    <mat-menu #userMenu="matMenu" class="user-menu">
                        <user-info></user-info>
                    </mat-menu>
                </button>
            </div>
        </div>
        <div content>
            <div exchanges [class.inactive]="states.selectedMenu.value != 'exchanges'">
                <mat-card>
                    <div top>
                            <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.fromdate[states.lang.value]}}</mat-label>
                                <input matInput [matDatepickerFilter]="minInsertedParamBound" [matDatepicker]="minInsertedDatePicker"
                                       (dateChange)="setField('fromdate', $event.value)">
                                <mat-datepicker-toggle matSuffix [for]="minInsertedDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #minInsertedDatePicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.todate[states.lang.value]}}</mat-label>
                                <input matInput [matDatepickerFilter]="maxInsertedParamBound" [matDatepicker]="maxInsertedDatePicker"
                                       (dateChange)="setField('todate', $event.value)">
                                <mat-datepicker-toggle matSuffix [for]="maxInsertedDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #maxInsertedDatePicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.exchange_groupid[states.lang.value]}}</mat-label>
                                <mat-select (selectionChange)="setField('exchange_groupid', $event.source.selected ? $event.source.selected.value : null)">
                                    <mat-option>{{states.texts.value.forms.clear[states.lang.value]}}</mat-option>
                                    <mat-option *ngFor="let group of states.exchangeGroups.value" [value]="group.ID">
                                        {{group.NAME}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        <button search-submit mat-stroked-button (click)="updateSearchInput(searchInput.value)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button edit-filters mat-stroked-button [class.selected]="states.searchExchangeFiltersExpanded.value"
                                (click)="states.searchExchangeFiltersExpanded.set(!states.searchExchangeFiltersExpanded.value)">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <search-filters></search-filters>
                </mat-card>
                <!-- <search-results [resultState]="states.searchResult" [paramsState]="states.searchParams" [searchingState]="states.searching"></search-results> -->
            </div>
            <div exchanges_orig [class.inactive]="states.selectedMenu.value != 'exchanges_orig'">
                <mat-card>
                    <div top>
                        <mat-form-field search appearance="outline">
                            <mat-label>{{states.texts.value.exchanges.search[states.lang.value]}}</mat-label>
                            <input #searchInput matInput type="search" (keyup)="updateSearchInputWithEnter($event)"/>
                            <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button
                                    (click)="updateSearchInput(''); searchInput.value = ''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <button search-submit mat-stroked-button (click)="updateSearchInput(searchInput.value)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button edit-filters mat-stroked-button [class.selected]="states.searchExchangeFiltersExpanded.value"
                                (click)="states.searchExchangeFiltersExpanded.set(!states.searchExchangeFiltersExpanded.value)">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <!-- <search-filters></search-filters> -->
                </mat-card>
                <!-- <search-results [resultState]="states.searchResult" [paramsState]="states.searchParams" [searchingState]="states.searching"></search-results> -->
            </div>
        </div>
    </div>
</ng-container>
<div curtain [class.visible]="states.curtainVisible.value">
    <mat-spinner></mat-spinner>
</div>
