<ng-container *ngIf="states.initComplete.value">
    <form login [class.visible]="!states.loggedIn.value">
        <mat-card>
            <div logo mat-card-image><img src="assets/svg/logo.svg"/></div>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.forms.username.placeholder[states.lang.value]}}</mat-label>
                <input matInput [formControl]="usernameFormControl" (input)="hideLoginError()"/>
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                    <text-label id="forms.username.required"></text-label>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.forms.password.placeholder[states.lang.value]}}</mat-label>
                <input matInput type="password" [formControl]="passwordFormControl" (input)="hideLoginError()"/>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    <text-label id="forms.password.required"></text-label>
                </mat-error>
            </mat-form-field>
            <button sign-in mat-flat-button color="primary" (click)="login()">
                <text-label id="forms.signin"></text-label>
            </button>
            <text-label error [id]="states.loginError.value ? 'forms.error.' + states.loginError.value : ''"
                        [class.visible]="states.loginErrorVisible.value"></text-label>
            <button mat-button forgot-password (click)="forgotPassword()">
                <text-label id="forms.forgotPassword"></text-label>
            </button>
        </mat-card>
    </form>
    <div main [class.visible]="states.loggedIn.value">
        <div menu>
            <div top>
                <div logo>
                    <img logo src="assets/svg/logo_small.svg"/>
                </div>
                <mat-action-list menu-container>
                    <ng-container *ngFor="let menuItem of menuItems">
                        <ng-container *ngIf="menuItem != null">
                            <button mat-list-item [class.selected]="states.selectedMenu.value === menuItem"
                                    (click)="states.selectedMenu.set(menuItem)">
                                <text-label [id]="'menu.' + menuItem"></text-label>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="menuItem == null">
                            <mat-divider></mat-divider>
                        </ng-container>
                    </ng-container>
                </mat-action-list>
            </div>
            <button compact-menu mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
                <text-label [id]="'menu.' + states.selectedMenu.value"></text-label>
                <mat-menu #menu="matMenu" class="top-menu">
                    <ng-container *ngFor="let menuItem of menuItems">
                        <ng-container *ngIf="menuItem != null">
                            <button mat-menu-item [class.selected]="states.selectedMenu.value === menuItem"
                                    (click)="states.selectedMenu.set(menuItem)">
                                <text-label [id]="'menu.' + menuItem"></text-label>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="menuItem == null">
                            <mat-divider></mat-divider>
                        </ng-container>
                    </ng-container>
                </mat-menu>
            </button>
            <div logout *ngIf="states.user.value">
                <user-info></user-info>
                <button mat-icon-button [matMenuTriggerFor]="userMenu">
                    <mat-icon>person</mat-icon>
                    <mat-menu #userMenu="matMenu" class="user-menu">
                        <user-info></user-info>
                    </mat-menu>
                </button>
            </div>
        </div>
        <div content>
            <div exchanges [class.inactive]="states.selectedMenu.value != 'exchanges'">
                <mat-card>
                    <div top>
                        <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.fromdate[states.lang.value]}}</mat-label>
                                <input matInput [matDatepickerFilter]="minDateExchangesParamBound" [matDatepicker]="minDateExchangesPicker"
                                       [value]="fromDateDefault" (dateChange)="this.states.searchExchangeParams.setField('fromdate_moment', $event.value)">
                                <mat-datepicker-toggle matSuffix [for]="minDateExchangesPicker"></mat-datepicker-toggle>
                                <mat-datepicker #minDateExchangesPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.todate[states.lang.value]}}</mat-label>
                                <input matInput [matDatepickerFilter]="maxDateExchangesParamBound" [matDatepicker]="maxDateExchangesPicker"
                                       [value]="toDateDefault" (dateChange)="this.states.searchExchangeParams.setField('todate_moment', $event.value)">
                                <mat-datepicker-toggle matSuffix [for]="maxDateExchangesPicker"></mat-datepicker-toggle>
                                <mat-datepicker #maxDateExchangesPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field search appearance="outline">
                                <mat-label>{{states.texts.value.searchExchangeParams.exchange_groupid[states.lang.value]}}</mat-label>
                                <mat-select [(ngModel)]="this.states.config.value.defaultGroupId" (selectionChange)="this.states.searchExchangeParams.setField('exchange_groupid', $event.source.selected ? $event.source.selected.value : null)">
                                    <mat-option>{{states.texts.value.forms.clear[states.lang.value]}}</mat-option>
                                    <mat-option *ngFor="let group of states.exchangeGroups.value" [value]="group.ID">
                                        {{group.NAME}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        <button search-submit mat-stroked-button (click)="searchExchanges()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button edit-filters mat-stroked-button [class.selected]="states.searchExchangeFiltersExpanded.value"
                                (click)="states.searchExchangeFiltersExpanded.set(!states.searchExchangeFiltersExpanded.value)">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <search-exchange-filters></search-exchange-filters>
                </mat-card>
                <search-exchange-results [resultState]="states.searchExchangeResult" [paramsState]="states.searchExchangeParams" [searchingState]="states.searchingExchanges"></search-exchange-results>
            </div>
            <div files [class.inactive]="states.selectedMenu.value != 'files'">
                <mat-card>
                    <div top>
                        <mat-form-field search appearance="outline">
                            <mat-label>{{states.texts.value.searchFileParams.fromdate[states.lang.value]}}</mat-label>
                            <input matInput [matDatepickerFilter]="minDateFilesParamBound" [matDatepicker]="minDateFilesPicker"
                                   [value]="fromDateDefault" (dateChange)="this.states.searchFileParams.setField('fromdate_moment', $event.value)">
                            <mat-datepicker-toggle matSuffix [for]="minDateFilesPicker"></mat-datepicker-toggle>
                            <mat-datepicker #minDateFilesPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field search appearance="outline">
                            <mat-label>{{states.texts.value.searchFileParams.todate[states.lang.value]}}</mat-label>
                            <input matInput [matDatepickerFilter]="maxDateFilesParamBound" [matDatepicker]="maxDateFilesPicker"
                                   [value]="toDateDefault" (dateChange)="this.states.searchFileParams.setField('todate_moment', $event.value)">
                            <mat-datepicker-toggle matSuffix [for]="maxDateFilesPicker"></mat-datepicker-toggle>
                            <mat-datepicker #maxDateFilesPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field search appearance="outline">
                            <mat-label>{{states.texts.value.searchFileParams.exchange_groupid[states.lang.value]}}</mat-label>
                            <mat-select [(ngModel)]="this.states.config.value.defaultGroupId" (selectionChange)="this.states.searchFileParams.setField('exchange_groupid', $event.source.selected ? $event.source.selected.value : null)">
                                <mat-option>{{states.texts.value.forms.clear[states.lang.value]}}</mat-option>
                                <mat-option *ngFor="let group of states.exchangeGroups.value" [value]="group.ID">
                                    {{group.NAME}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button search-submit mat-stroked-button (click)="searchFiles()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button edit-filters mat-stroked-button [class.selected]="states.searchFileFiltersExpanded.value"
                                (click)="states.searchFileFiltersExpanded.set(!states.searchFileFiltersExpanded.value)">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div>
                    <search-file-filters></search-file-filters>
                </mat-card>
                <search-file-results [resultState]="states.searchFileResult" [paramsState]="states.searchFileParams" [searchingState]="states.searchingFiles"></search-file-results>
            </div>
        </div>
    </div>
</ng-container>
<div curtain [class.visible]="states.curtainVisible.value">
    <mat-spinner></mat-spinner>
</div>
