<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>
<mat-icon color-select [style.backgroundColor]="data.color ? '#' + data.color : DEFAULT_COLOR"
        [style.color]="utils.getContrastTextColor(data.color ? '#' + data.color : DEFAULT_COLOR)"
        (click)="openColorPicker()">
    color_lens
</mat-icon>
<div form [class.disabled]="!data.editable">
    <ng-container *ngFor="let field of FIELDS" [ngSwitch]="field">
        <ng-container *ngSwitchCase="'committee_id'">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{states.texts.value.events.committee_id[states.lang.value]}}</mat-label>
                <textarea #committeeSelectorTextarea matInput cdkTextareaAutosize
                          [placeholder]="states.committeesByID.value[data.committee_id].name"
                          (focus)="committeeFocused()"
                          (blur)="committeeBlurred()"
                          [formControl]="formControls['committee_id']"
                          [matAutocomplete]="committeesAutoComplete"
                          [errorStateMatcher]="matcher">
                        </textarea>
                <mat-autocomplete #committeesAutoComplete="matAutocomplete">
                    <mat-option *ngFor="let committee of filteredCommittees"
                                (mousedown)="selectCommittee(committee, committeeSelectorTextarea)"
                                (click)="selectCommittee(committee, committeeSelectorTextarea)">
                        {{committee.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="error && (error.field == 'committee_id')">
                    {{error.message}}
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'additional_info'">
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.events[field][states.lang.value]}}</mat-label>
                <textarea matInput cdkTextareaAutosize *ngSwitchCase="'additional_info'"
                          [value]="(data[field] == undefined) ? '' : data[field]"
                          (change)="fieldChanged(field, $event)"
                          [formControl]="formControls[field]"
                          [errorStateMatcher]="matcher">
                </textarea>
                <mat-error *ngIf="error && (error.field == field)">
                    {{error.message}}
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'date_from'">
            <div date-time>
                <mat-form-field appearance="outline">
                    <mat-label>{{states.texts.value.events[field][states.lang.value]}}</mat-label>
                    <input matInput [matDatepickerFilter]="minInsertedParamBound"
                           [matDatepicker]="fromDatePicker"
                           [formControl]="formControls['date_from']"
                           (dateChange)="updateDateField('from')"
                           [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker></mat-datepicker>
                    <mat-error *ngIf="error && (error.field == field)">
                        {{error.message}}
                    </mat-error>
                </mat-form-field>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.events["hours"][states.lang.value]}}</mat-label>
                        <input type="number" min="0" max="24" step="1" matInput
                               (change)="updateDateField('from')"
                               [formControl]="formControls[field + '_hours']"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.events["minutes"][states.lang.value]}}</mat-label>
                        <input type="number" min="0" max="60" step="1" matInput
                               (change)="updateDateField('from')"
                               [formControl]="formControls[field + '_minutes']"/>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'date_to'">
            <div date-time>
                <mat-form-field appearance="outline">
                    <mat-label>{{states.texts.value.events[field][states.lang.value]}}</mat-label>
                    <input matInput [matDatepickerFilter]="maxInsertedParamBound"
                           [matDatepicker]="toDatePicker"
                           [formControl]="formControls['date_to']"
                           (dateChange)="updateDateField('to')"
                           [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatePicker></mat-datepicker>
                    <mat-error *ngIf="error && (error.field == field)">
                        {{error.message}}
                    </mat-error>
                </mat-form-field>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.events["hours"][states.lang.value]}}</mat-label>
                        <input type="number" min="0" max="24" step="1" matInput
                               (change)="updateDateField('to')"
                               [formControl]="formControls[field + '_hours']"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.events["minutes"][states.lang.value]}}</mat-label>
                        <input type="number" min="0" max="60" step="1" matInput
                               (change)="updateDateField('to')"
                               [formControl]="formControls[field + '_minutes']"/>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'mark'">
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.events[field][states.lang.value]}}</mat-label>
                <input type="number" matInput [min]="0"
                       [value]="(data[field] == undefined) ? '' : data[field]"
                       (change)="fieldChanged(field, $event)"
                       [formControl]="formControls[field]"
                       [errorStateMatcher]="matcher"/>
                <mat-error *ngIf="error && (error.field == field)">
                    {{error.message}}
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.events[field][states.lang.value]}}</mat-label>
                <input matInput
                       [value]="(data[field] == undefined) ? '' : data[field]"
                       (change)="fieldChanged(field, $event)"
                       [formControl]="formControls[field]"
                       [errorStateMatcher]="matcher"/>
                <mat-error *ngIf="error && (error.field == field)">
                    {{error.message}}
                </mat-error>
            </mat-form-field>
        </ng-container>
    </ng-container>
    <search-results *ngIf="searchResult.value && searchResult.value.members.length" [showButtons]="false" [showSelectedMembers]="false"
                    [resultState]="searchResult" [paramsState]="searchParams" [searchingState]="searching" [allColumns]="searchColumns" [clickableRows]="false"></search-results>
    <button apply-event-mark mat-stroked-button (click)="applyEventMark()" *ngIf="!adding">
        <text-label id="events.apply_event_mark"></text-label>
    </button>
</div>
<div buttons *ngIf="data.editable">
    <button save mat-flat-button color="primary" (click)="save()">
        <text-label [id]="'forms.' + (adding ? 'add'  : 'save')"></text-label>
    </button>
    <button delete mat-flat-button color="warn" (click)="delete()" *ngIf="!adding">
        <text-label id="forms.delete"></text-label>
    </button>
</div>
