<button mat-icon-button close (click)="close()">
    <mat-icon>close</mat-icon>
</button>
<form>
    <mat-form-field *ngIf="states.user.value.hierarchy_level == 4" appearance="outline" floatLabel="always">
        <mat-label>{{states.texts.value.news.committee_id[states.lang.value]}}</mat-label>
        <textarea #committeeSelectorTextarea matInput cdkTextareaAutosize
                  [placeholder]="states.committeesByID.value[article.committee_id].name"
                  (focus)="committeeFocused()"
                  (blur)="committeeBlurred()"
                  [formControl]="committeeFormControl"
                  [matAutocomplete]="committeesAutoComplete">
        </textarea>
        <mat-autocomplete #committeesAutoComplete="matAutocomplete">
            <mat-option *ngFor="let committee of filteredCommittees"
                        (mousedown)="selectCommittee(committee, committeeSelectorTextarea)"
                        (click)="selectCommittee(committee, committeeSelectorTextarea)">
                {{committee.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{states.texts.value.news.title[states.lang.value]}}</mat-label>
        <input matInput [value]="article.name || ''" (change)="article.name = $event.target.value">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{states.texts.value.news.link[states.lang.value]}}</mat-label>
        <input matInput [value]="article.link || ''" (change)="article.link = $event.target.value">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{states.texts.value.news.text[states.lang.value]}}</mat-label>
        <textarea matInput [value]="article.additional_info || ''" rows="4" maxlength="2000"
                  (change)="article.additional_info = $event.target.value"></textarea>
    </mat-form-field>
</form>
<div buttons>
    <button mat-flat-button color="primary" (click)="add()">
        <text-label [id]="'forms.' + (adding ? 'add' : 'save')"></text-label>
    </button>
</div>
