<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>
<form>
    <ng-container *ngFor="let field of FIELDS">
        <ng-container *ngIf="field == 'hierarchy_level'">
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.assignments[field][states.lang.value]}}</mat-label>
                <mat-select (selectionChange)="fieldChanged(field, $event)"
                            [value]="data.hierarchy_level">
                    <ng-container *ngFor="let level of states.assignmentsLevels.value">
                        <mat-option *ngIf="level <= states.user.value.hierarchy_level" [value]="level">
                            {{states.texts.value.assignments[level][states.lang.value]}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="field == 'name'">
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.assignments[field][states.lang.value]}}</mat-label>
                <textarea matInput cdkTextareaAutosize
                          [value]="(data[field] == undefined) ? '' : data[field]" (change)="fieldChanged(field, $event)"
                          [formControl]="formControls[field]"
                          [errorStateMatcher]="matcher"></textarea>
            </mat-form-field>
            <mat-error *ngIf="error && (error.field == field)">
                {{error.message}}
            </mat-error>
        </ng-container>
        <ng-container *ngIf="field == 'is_admin'">
            <mat-slide-toggle color="warn" (change)="fieldChanged(field, $event)" [checked]="data.is_admin">
                <text-label id="assignments.admin" [class.deselected]="!data.is_admin"></text-label>
            </mat-slide-toggle>
        </ng-container>
    </ng-container>
</form>
<div buttons>
    <button save mat-flat-button color="primary" (click)="save()">
        <text-label [id]="'forms.' + (adding ? 'add'  : 'save')"></text-label>
    </button>
    <button delete mat-flat-button color="warn" (click)="delete()" *ngIf="!adding">
        <text-label id="forms.delete"></text-label>
    </button>
</div>
