<button mat-icon-button close (click)="change()">
    <mat-icon>close</mat-icon>
</button>
<form>
    <mat-form-field appearance="outline">
        <mat-label>{{states.texts.value.newPassword[states.lang.value]}}</mat-label>
        <input matInput type="password"  [formControl]="passwordFormControl" />
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            <text-label id="forms.password.min"></text-label>
        </mat-error>
    </mat-form-field>
</form>
<div buttons>
    <button mat-flat-button color="primary" (click)="change(passwordFormControl.value)">
        <text-label id="forms.apply"></text-label>
    </button>
</div>
