<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>
<form [class.disabled]="!editable">
    <ng-container *ngFor="let field of FIELDS">
        <mat-form-field appearance="outline" *ngIf="editable || data[field]" floatLabel="always">
            <mat-label>{{states.texts.value.hierarchy[field][states.lang.value]}}</mat-label>
            <ng-container *ngIf="field == 'parent_id'">
                <textarea #parentCommitteeSelectorTextarea matInput cdkTextareaAutosize
                          [placeholder]="states.committeesByID.value[data.parent_id].name"
                          (focus)="parentCommitteeFocused()"
                          (blur)="parentCommitteeBlurred()"
                          [formControl]="formControls['parent_id']"
                          [matAutocomplete]="committeesAutoComplete">
                </textarea>
                <mat-autocomplete #committeesAutoComplete="matAutocomplete">
                    <mat-option *ngFor="let committee of filteredCommittees"
                                (mousedown)="selectParentCommittee(committee, parentCommitteeSelectorTextarea)"
                                (click)="selectParentCommittee(committee, parentCommitteeSelectorTextarea)">
                        {{committee.name}}
                    </mat-option>
                </mat-autocomplete>
            </ng-container>
            <ng-container *ngIf="field != 'parent_id'">
                <textarea matInput cdkTextareaAutosize [readonly]="!editable"
                          [value]="(data[field] == undefined) ? '' : data[field]" (change)="fieldChanged(field, $event)"
                          [formControl]="formControls[field]"
                          [errorStateMatcher]="matcher"></textarea>
            </ng-container>
            <mat-error *ngIf="error && (error.field == field)">
                {{error.message}}
            </mat-error>
        </mat-form-field>
    </ng-container>
</form>
<div buttons *ngIf="editable">
    <button save mat-flat-button color="primary" (click)="save()">
        <text-label [id]="'forms.' + (adding ? 'add'  : 'save')"></text-label>
    </button>
    <button delete mat-flat-button color="warn" (click)="delete()" *ngIf="!adding">
        <text-label id="forms.delete"></text-label>
    </button>
</div>
