<button mat-icon-button close (click)="select()">
    <mat-icon>close</mat-icon>
</button>
<form>
    <mat-form-field appearance="outline" floatLabel="always"
                    [class.disabled]="states.user.value.hierarchy_level < 4">
        <mat-label>{{states.texts.value.member.committee_id[states.lang.value]}}</mat-label>
        <textarea #committeeSelectorTextarea matInput cdkTextareaAutosize
                  [placeholder]="''"
                  (focus)="committeeFocused()"
                  (blur)="committeeBlurred()"
                  [formControl]="formControl"
                  [matAutocomplete]="committeesAutoComplete">
                        </textarea>
        <mat-autocomplete #committeesAutoComplete="matAutocomplete">
            <mat-option *ngFor="let committee of filteredCommittees"
                        (mousedown)="select(committee.id)"
                        (click)="select(committee.id)">
                {{committee.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
