<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>
<div form [class.disabled]="!editable">
    <mat-card info>
        <div>
            <div photos>
                <mat-form-field appearance="outline">
                    <mat-label>{{states.texts.value.member['identification_number'][states.lang.value]}}</mat-label>
                    <input matInput
                           [value]="(data.member['identification_number'] == undefined) ? '' : data.member['identification_number']"
                           (change)="fieldChanged('identification_number', $event)"
                           [formControl]="formControls['identification_number']"
                           [errorStateMatcher]="matcher">
                    <mat-error *ngIf="error && (error.field == 'identification_number')">
                        {{error.message}}
                    </mat-error>
                </mat-form-field>
                <div spinner *ngIf="data.member.photo_id && data.member.photo == ''">
                    <mat-spinner></mat-spinner>
                </div>
                <img *ngIf="data.member.photo" [src]="utils.imgPrefix + data.member.photo"/>
                <button mat-stroked-button *ngIf="editable && (!data.member.photo_id || data.member.photo)"
                        (click)="addPhoto()">
                    <text-label [id]="'member.' + (data.member.photo ? 'changePhoto' : 'addPhoto')"></text-label>
                </button>
                <div spinner *ngIf="data.member.passport_id && data.member.passport == ''">
                    <mat-spinner></mat-spinner>
                </div>
                <button mat-stroked-button *ngIf="data.member.passport_id && (data.member.passport == undefined)"
                        (click)="loadPassport()">
                    <text-label id="member.loadPassport"></text-label>
                </button>
                <img passport-image *ngIf="data.member.passport" [src]="utils.imgPrefix + data.member.passport"
                     (click)="showImage('passport')"/>
                <button mat-stroked-button *ngIf="editable && (!data.member.passport_id || data.member.passport)"
                        (click)="addPassport()">
                    <text-label
                            [id]="'member.' + (data.member.passport ? 'changePassport' : 'addPassport')"></text-label>
                </button>
            </div>
            <div info>
                <div *ngFor="let rows of INFO_FIELDS">
                    <div *ngFor="let column of rows">
                        <ng-container *ngFor="let field of column">
                            <mat-form-field *ngIf="field == 'date_of_birth'" appearance="outline">
                                <mat-label>{{states.texts.value.member[field][states.lang.value]}}</mat-label>
                                <input matInput
                                       [matDatepicker]="dateOfBirthDatePicker"
                                       [formControl]="formControls[field]"
                                       (dateChange)="dateFieldChanged(field, $event.value)"
                                       [value]="data.member[field]"
                                       [errorStateMatcher]="matcher">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="dateOfBirthDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
                                <mat-error *ngIf="error && (error.field == field)">
                                    {{error.message}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="field != 'date_of_birth'" appearance="outline">
                                <mat-label>{{states.texts.value.member[field][states.lang.value]}}</mat-label>
                                <ng-container *ngIf="TEXTAREA_FIELDS.indexOf(field) != -1">
                                    <textarea matInput cdkTextareaAutosize
                                              [value]="(data.member[field] == undefined) ? '' : data.member[field]"
                                              (change)="fieldChanged(field, $event)"
                                              [formControl]="formControls[field]"
                                              [errorStateMatcher]="matcher">
                                    </textarea>
                                </ng-container>
                                <ng-container *ngIf="TEXTAREA_FIELDS.indexOf(field) == -1">
                                    <input matInput
                                           [value]="(data.member[field] == undefined) ? '' : data.member[field]"
                                           (change)="fieldChanged(field, $event)"
                                           [formControl]="formControls[field]"
                                           [errorStateMatcher]="matcher">
                                </ng-container>
                                <mat-error *ngIf="error && (error.field == field)">
                                    {{error.message}}
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card change-committee *ngIf="data.member.committee_id_new != undefined">
        <div>
            <text-label id="member.changeCommittee"
                        [params]="[states.committeesByID.value[data.member.committee_id_new].name]"></text-label>
        </div>
        <div *ngIf="states.user.value.is_admin && ((data.member.committee_id_new == states.user.value.work_committee_id) || (states.user.value.hierarchy_level == 4))">
            <button mat-stroked-button (click)="changeCommittee(false)">
                <text-label id="forms.deny"></text-label>
            </button>
            <button mat-stroked-button (click)="changeCommittee(true)">
                <text-label id="forms.accept"></text-label>
            </button>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <div card>
                <div>
                    <mat-form-field appearance="outline" floatLabel="always"
                                    [class.disabled]="(states.user.value.hierarchy_level != 4) && adding">
                        <mat-label>{{states.texts.value.member.committee_id[states.lang.value]}}</mat-label>
                        <textarea #committeeSelectorTextarea matInput cdkTextareaAutosize
                                  [placeholder]="data.member.committee_id ? states.committeesByID.value[data.member.committee_id].name : ''"
                                  (focus)="committeeFocused()"
                                  (blur)="committeeBlurred()"
                                  [formControl]="formControls['committee_id']"
                                  [matAutocomplete]="committeesAutoComplete"
                                  [errorStateMatcher]="matcher">
                        </textarea>
                        <mat-autocomplete #committeesAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let committee of filteredCommittees"
                                        (mousedown)="selectCommittee(committee, committeeSelectorTextarea)"
                                        (click)="selectCommittee(committee, committeeSelectorTextarea)">
                                {{committee.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="error && (error.field == 'committee_id')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member.primary_organization_id[states.lang.value]}}</mat-label>
                        <textarea #primaryOrganizationSelectorTextarea matInput cdkTextareaAutosize
                                  [placeholder]="data.member.primary_organization_id ? states.primaryOrganizationsByID.value[data.member.primary_organization_id].name : ''"
                                  (focus)="primaryOrganizationFocused()"
                                  (blur)="primaryOrganizationBlurred()"
                                  [formControl]="formControls['primary_organization_id']"
                                  [matAutocomplete]="primaryOrganizationAutoComplete">
                        </textarea>
                        <mat-autocomplete #primaryOrganizationAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let primaryOrganization of filteredPrimaryOrganizations"
                                        (mousedown)="selectPrimaryOrganization(primaryOrganization, primaryOrganizationSelectorTextarea)"
                                        (click)="selectPrimaryOrganization(primaryOrganization, primaryOrganizationSelectorTextarea)">
                                {{primaryOrganization.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <button mat-button *ngIf="data.member.primary_organization_id" matSuffix mat-icon-button
                                (mousedown)="selectPrimaryOrganization(null, primaryOrganizationSelectorTextarea)"
                                (click)="selectPrimaryOrganization(null, primaryOrganizationSelectorTextarea)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" [class.enabled]="states.user.value.is_admin">
                        <mat-label>{{states.texts.value.member['assignment_id'][states.lang.value]}}</mat-label>
                        <mat-select
                                (selectionChange)="fieldChanged('assignment_id', $event)"
                                [value]="data.member.assignment_id">
                            <mat-option *ngFor="let assignment of states.assignments.value" [value]="assignment.id"
                                        [disabled]="(assignment.hierarchy_level > states.user.value.hierarchy_level) || (assignment.id == data.member.assignment_id)">
                                {{assignment.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member['status'][states.lang.value]}}</mat-label>
                        <mat-select
                                (selectionChange)="fieldChanged('status', $event)"
                                [value]="data.member.status">
                            <mat-option *ngFor="let status of states.statuses.value" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member['card_number'][states.lang.value]}}</mat-label>
                        <input matInput
                               [value]="(data.member['card_number'] == undefined) ? '' : data.member['card_number']"
                               (change)="fieldChanged('card_number', $event)"
                               [formControl]="formControls['card_number']"
                               [errorStateMatcher]="matcher">
                        <mat-error *ngIf="error && (error.field == 'card_number')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member['card_number_old'][states.lang.value]}}</mat-label>
                        <input matInput
                               [value]="(data.member['card_number_old'] == undefined) ? '' : data.member['card_number_old']"
                               (change)="fieldChanged('card_number_old', $event)"
                               [formControl]="formControls['card_number_old']"
                               [errorStateMatcher]="matcher">
                        <mat-error *ngIf="error && (error.field == 'card_number_old')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member['card_date_of_issue'][states.lang.value]}}</mat-label>
                        <input matInput
                               [matDatepicker]="dateOfIssueDatePicker"
                               [value]="data.member['card_date_of_issue']"
                               [formControl]="formControls['card_date_of_issue']"
                               (dateChange)="dateFieldChanged('card_date_of_issue', $event.value)"
                               [errorStateMatcher]="matcher">
                        <mat-datepicker-toggle matSuffix
                                               [for]="dateOfIssueDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfIssueDatePicker></mat-datepicker>
                        <mat-error *ngIf="error && (error.field == 'card_date_of_issue')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [class.disabled]="true">
                        <mat-label>{{states.texts.value.member['card_issued_by'][states.lang.value]}}</mat-label>
                        <textarea #issuedBySelectorTextarea matInput cdkTextareaAutosize
                                  [placeholder]="data.member.card_issued_by ? states.committeesByID.value[data.member.card_issued_by].name : ''"
                                  (focus)="issuedByFocused()"
                                  (blur)="issuedByBlurred()"
                                  [formControl]="formControls['card_issued_by']"
                                  [matAutocomplete]="issuedByAutoComplete"
                                  [errorStateMatcher]="matcher">
                        </textarea>
                        <mat-autocomplete #issuedByAutoComplete="matAutocomplete">
                            <mat-option *ngFor="let committee of filteredCommittees"
                                        (mousedown)="selectIssuedBy(committee, issuedBySelectorTextarea)"
                                        (click)="selectIssuedBy(committee, issuedBySelectorTextarea)">
                                {{committee.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="error && (error.field == 'card_issued_by')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>{{states.texts.value.member['additional_info'][states.lang.value]}}</mat-label>
                        <textarea matInput cdkTextareaAutosize
                                  [value]="(data.member['additional_info'] == undefined) ? '' : data.member['additional_info']"
                                  (change)="fieldChanged('additional_info', $event)"
                                  [formControl]="formControls['additional_info']"
                                  [errorStateMatcher]="matcher">
                    </textarea>
                        <mat-error *ngIf="error && (error.field == 'additional_info')">
                            {{error.message}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <ng-container *ngIf="!is18">
                        <mat-checkbox [checked]="utils.optionEnabled(1, data.member.options)"
                                      [disabled]="initialOption1Enabled"
                                      (change)="setOption(1, $event.checked)">
                            <text-label id="member.parentsAgreed"></text-label>
                        </mat-checkbox>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card history>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>{{states.texts.value.member.category_id[states.lang.value]}}</mat-label>
                <mat-select
                        (selectionChange)="fieldChanged('category_id', $event)"
                        [value]="data.member.category_id">
                    <mat-option *ngFor="let category of states.categories.value" [value]="category.id">
                        {{category.name + ' (' + utils.toMoney(category.amount) + ')'}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [disabled]="initialOption2Enabled" [checked]="utils.optionEnabled(2, data.member.options)"
                          (change)="setOption(2, $event.checked)">
                <text-label id="member.entryFee"></text-label>
            </mat-checkbox>
            <mat-checkbox
                    [class.enabled]="states.user.value.is_admin && ((states.user.value.hierarchy_level == 2) || (states.user.value.hierarchy_level == 4))"
                    [disabled]="!initialOption2Enabled || initialOption4Enabled"
                    [checked]="utils.optionEnabled(4, data.member.options)"
                    (change)="setAcceptEntryFee($event.checked)">
                <text-label id="member.entryFee2"></text-label>
            </mat-checkbox>
        </div>
        <table *ngIf="data.payments" mat-table [dataSource]="data.payments" class="mat-elevation-z1">

            <ng-container *ngFor="let column of paymentsHistoryColumns" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>
                    <text-label [id]="'member.paymentsHistory.' + column"></text-label>
                </th>
                <td mat-cell
                    *matCellDef="let element">{{column == 'amount' ? utils.toMoney(element[column]) : element[column]}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="paymentsHistoryColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: paymentsHistoryColumns;"></tr>
        </table>
    </mat-card>
    <mat-card history *ngIf="data.marks">
        <mat-card-header>
            <mat-card-title>
                <text-label id="member.rating" [params]="[data.member.mark || 0]"></text-label>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="data.marks" class="mat-elevation-z1">

                <ng-container *ngFor="let column of ratingHistoryColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                        <text-label [id]="'member.ratingHistory.' + column"></text-label>
                    </th>
                    <ng-container [ngSwitch]="column" *matCellDef="let element">
                        <td mat-cell
                            *ngSwitchCase="'reason'">{{element['event_id'] ? states.eventsByID.value[element['event_id']].name : states.promotionsByID.value[element['promotion_id']].name}}</td>
                        <td mat-cell *ngSwitchCase="'inserted'">{{utils.formatJavaDate(element[column])}}</td>
                        <td mat-cell *ngSwitchDefault>{{element[column]}}</td>
                    </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ratingHistoryColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ratingHistoryColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card transfers *ngIf="data.transfers">
        <mat-card-header>
            <mat-card-title>
                <text-label id="member.transfers" [params]="[data.member.mark || 0]"></text-label>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="data.transfers" class="mat-elevation-z1">

                <ng-container *ngFor="let column of transferHistoryColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>
                        <text-label *ngIf="column != 'arrow'" [id]="'member.transferHistory.' + column"></text-label>
                    </th>
                    <ng-container [ngSwitch]="column" *matCellDef="let element">
                        <td mat-cell *ngSwitchCase="'from'">
                            <div>
                                <div committee>{{states.committeesByID.value[element.from_committee_id].name}}</div>
                                <div name>{{element.from_user}}</div>
                            </div>
                        </td>
                        <td mat-cell *ngSwitchCase="'to'">
                            <div>
                                <div committee>{{states.committeesByID.value[element.to_committee_id].name}}</div>
                                <div name>{{element.to_user}}</div>
                            </div>
                        </td>
                        <td mat-cell date *ngSwitchCase="'date'">
                            <div>{{utils.formatJavaDate(element.to_date)}}</div>
                        </td>
                        <td mat-cell arrow *ngSwitchCase="'arrow'">
                            <div>
                                <mat-icon>arrow_right_alt</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="transferHistoryColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: transferHistoryColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div buttons *ngIf="states.user.value.is_admin">
    <button save mat-flat-button color="primary" (click)="save()">
        <text-label [id]="'forms.' + (adding ? 'add'  : 'save')"></text-label>
    </button>
</div>
<mat-card *ngIf="bigImage" big-image>
    <div buttons>
        <button mat-icon-button (click)="print()">
            <mat-icon>print</mat-icon>
        </button>
        <div zoom>
            <button mat-icon-button [class.disabled]="!bigImageElement.style.width" (click)="zoomOut()">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button mat-icon-button (click)="zoomIn()">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
        <button mat-icon-button (click)="hideImage()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div image>
        <img #bigImageElement image [src]="utils.imgPrefix + bigImage"/>
    </div>
</mat-card>
