<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>
<div controls>
    <mat-form-field appearance="outline">
        <mat-label>{{states.texts.value.paymentsReport.period[states.lang.value]}}</mat-label>
        <mat-select [formControl]="formControls['period']"
                    (selectionChange)="periodSelected($event.source.selected ? $event.source.selected.value : null)">
            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="printTable()">
        <mat-icon>print</mat-icon>
    </button>
</div>
<div report *ngIf="report" class="mat-elevation-z4 report">
    <style>
        .report {
            font-family: "Lucida Console", "Courier New";
            font-size: 12px;
        }

        .reportHeaderRight, .reportHeaderCenter {
            font-weight: bold;
            padding: 16px;
        }

        .reportHeaderRight {
            text-align: right;
        }

        .reportHeaderCenter {
            font-size: 14px;
            text-align: center;
        }

        .reportTable, .reportTable td, .reportTable th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .reportTable {
            width: 100%;
        }

        .reportTable tr:last-child {
            font-weight: bold;
        }

        .reportTable td, .reportTable th {
            padding: 4px;
        }

        .reportTable th {
            text-align: center;
        }

        .reportTable th:first-child {
            white-space: nowrap;
        }

        .reportTable td {
            text-align: right;
        }

        .reportTable td:nth-child(1) {
            text-align: center;
        }

        .reportTable td:nth-child(2) {
            text-align: left;
        }

        .footer {
            padding: 16px;
        }

    </style>
    <div class="reportHeaderRight">
        Утверждено<br/>Постановление Бюро ЦКК ОО "БРСМ"<br/>№2 от 9 июня 2016г.
    </div>
    <div class="reportHeaderCenter">ИНФОРМАЦИЯ об уплате членских взносов за {{year}}г. членами ОО "БРСМ" по состоянию на {{currentDate}}<br/>Комитет: {{states.committeesByID.value[states.user.value.work_committee_id].name}}</div>
    <table class="reportTable">
        <thead>
        <tr>
            <th rowSpan="2"><b>№ п/п</b></th>
            <th rowSpan="2"><b>Наименование ТК БРСМ</b></th>
            <th rowSpan="2"><b>Кол-во членов БРСМ на {{startDate}}</b></th>
            <th rowSpan="2"><b>Кол-во членов БРСМ на {{endDate}}</b></th>
            <th rowSpan="2" colSpan="2"><b>Кол-во членов БРСМ, вступивших в организацию с {{startDate}} по {{endDate}} /
                Поставленных
                на учёт (прибывшие)</b>
            </th>
            <th [colSpan]="categories.length * 2 + 1"><b>Количество членов БРСМ, уплативших периодический членский взнос
                за {{year}}г. (на {{currentDate}}) / Сумма</b>
            </th>
            <th rowSpan="2"><b>Сумма взносов, необходимых для сбора согласно отчету о численности К-1</b></th>
            <th rowSpan="2"><b>% уплаты взносов за {{year}}г.</b></th>
        </tr>
        <tr>
            <th scope="col" colSpan="2"
                *ngFor="let category of categories">{{states.categoriesByID.value[category].name}} / Сумма
            </th>
            <th scope="col">Выбывшие (неуплатившие взносы)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let line of report">
            <td *ngFor="let column of columns">
                {{((line[column] != undefined) && (line[column] != null)) ? line[column] : ''}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="footer">Первый секретарь<br/>Главный бухгалтер<br/>_________________ ОК ОО "БРСМ"</div>
</div>
