<button mat-icon-button close (click)="select()">
    <mat-icon>close</mat-icon>
</button>
<ng-container *ngIf="states.promotions.value.length">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>{{states.texts.value.promotion[states.lang.value]}}</mat-label>
            <mat-select (selectionChange)="select($event.source.selected.value)" [value]="selectedPromotionID">
                <mat-option *ngFor="let promotion of states.promotions.value" [value]="promotion.id">
                    {{promotion.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div slider>
            {{states.promotionsByID.value[selectedPromotionID].min_value}}
            <mat-slider thumbLabel [value]="selectedValue" (change)="selectedValue = $event.value"
                        [min]="states.promotionsByID.value[selectedPromotionID].min_value"
                        [max]="states.promotionsByID.value[selectedPromotionID].max_value"></mat-slider>
            {{states.promotionsByID.value[selectedPromotionID].max_value}}
        </div>
    </form>
    <div buttons>
        <button mat-raised-button color="primary" (click)="apply()">
            <text-label id="forms.apply"></text-label>
        </button>
    </div>
</ng-container>
<ng-container *ngIf="!states.promotions.value.length">
    <text-label id="promotions.noPromotions"></text-label>
</ng-container>
