<button close mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
</button>

<div form [class.disabled]="!editable">
    <ng-container>
        <mat-form-field search appearance="outline">
            <mat-label>{{states.texts.value.forms.uploadFiles.id[states.lang.value]}}</mat-label>
            <mat-select [(ngModel)]="this.firstFileTypeId" (selectionChange)="this.states.uploadFileParams.setField('id', $event.source.selected ? $event.source.selected.value : null)"
                        [formControl]="fileTypeFormControl">

                <mat-option *ngFor="let filetype of states.fileTypes.value" [value]="filetype.ID">
                    {{filetype.CODE+" / "+filetype.NAME}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="fileTypeFormControl.hasError('required')">
                <text-label id="forms.uploadFiles.required"></text-label>
            </mat-error>
        </mat-form-field>
    </ng-container>
</div>

<div buttons *ngIf="states.user.value.is_admin">
    <button upload mat-flat-button color="primary" (click)="upload()">
        <text-label id="forms.upload"></text-label>
    </button>

    <button select-file mat-flat-button color="primary" (click)="fileInput.click()">
        {{(filename == '') ? states.texts.value.forms.uploadFiles.choice[states.lang.value] : this.filename}}
    </button>
    <input hidden (change)="handleFileInput($event.target.files)" #fileInput type="file" id="file">
</div>

