@import '~@angular/material/theming';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

$my-theme: (
        50:  #1A7555,
        100: #1A7555,
        200: #1A7555,
        300: #1A7555,
        400: #1A7555,
        500: #1A7555,
        600: #1A7555,
        700: #1A7555,
        800: #1A7555,
        900: #1A7555,
        A100: #1A7555,
        A200: #1A7555,
        A400: #1A7555,
        A700: #1A7555,
        contrast: (
                50: $light-primary-text,
                100: $light-primary-text,
                200: $light-primary-text,
                300: $light-primary-text,
                400: $light-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $light-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

@include mat-core();
$TfomsFiles-primary: mat-palette($my-theme);
$TfomsFiles-accent: mat-palette($mat-gray);
$TfomsFiles-warn: mat-palette($mat-red);
$TfomsFiles-theme: mat-light-theme($TfomsFiles-primary, $TfomsFiles-accent, $TfomsFiles-warn);
@include angular-material-theme($TfomsFiles-theme);

:root {
  --primary: #{mat-color($TfomsFiles-primary)};
  --primary-text: #{mat-color($TfomsFiles-primary, default-contrast)};
  --accent: #{mat-color($TfomsFiles-accent)};
  --accent-text: white;
  --warn: #{mat-color($TfomsFiles-warn)};
  --background: white;
  --background-light: #{mat-color($TfomsFiles-accent, 200)};
  --background-dark: var(--accent);
  --min-width: 360px;
  --compact-menu-height: 48px;
  --defaultEventBackground: #509000;
}

$compact-width: 1000px;

%center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

%animated {
  transition: $mat-elevation-transition-duration $mat-elevation-transition-timing-function;
}

text-label {
  @extend %center-content;
  text-align: center;
}

image {
  @extend %center-content;
}


* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  box-sizing: border-box;
  pointer-events: none;
}

html, body {
  touch-action: manipulation;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: var(--min-width);
}

button, input, textarea, mat-option, .mat-slide-toggle-bar, .mat-slide-toggle-thumb, .mat-autocomplete-panel, .mat-form-field-flex, .cdk-overlay-backdrop, .mat-select-panel, mat-chip mat-icon, mat-slider, .mat-calendar-body-cell, .mat-checkbox-inner-container {
  pointer-events: auto;
}

textarea::-webkit-scrollbar {
  display: none;

}

textarea.mat-input-element.cdk-textarea-autosize {
  padding: 0;
}

.mat-button-wrapper {
  @extend %center-content;
  white-space: normal;
  line-height: normal;
  min-height: 36px;
}

.mat-form-field-wrapper {
  width: 100%;

  .mat-form-field-infix {
    width: 100%;
  }
}

.mat-stroked-button.mat-primary {
  border-color: initial;
}


.twoLines {

  .mat-option-text, mat-select-trigger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    > * {
      font-size: 75%;
      line-height: initial;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        font-size: 100%;
      }
    }
  }
}

.big-popup, .small-popup {
  width: 100%;
  max-width: 100% !important;
  min-width: var(--min-width);
  padding: 16px;

  .mat-dialog-container {
    pointer-events: auto;
    height: initial !important;
  }
}

.small-popup {
  width: var(--min-width);
}

reset-password {
  [email] {
    @extend %center-content;
    font-size: 150%;
    margin: 16px;
  }

  [description] {
    margin-bottom: 32px;
  }

  [buttons] {
    display: flex;
    justify-content: space-between;
    margin: 16px;
  }
}

primary-organization-details, assignment-edit, category-edit, promotion-edit, promotion-select, category-select, member-details, add-article, add-event, event-select, committee-select, payments-report,
change-password, search-exchange-results, search-file-results, upload-file, export-dialog {
  position: relative;
  display: block;

  > text-label {
    padding: 32px;
  }

  > form, [form] {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 32px;

    > [date-time] {
      display: flex;
      flex-wrap: wrap;

      > mat-form-field {
        flex-grow: 1;
        width: 0;
        min-width: calc(var(--min-width) - 112px) !important;
      }

      > div {
        display: flex;
        width: 0;
        min-width: calc(var(--min-width) - 112px) !important;

        > * {
          width: 0;
          flex-grow: 1;
          margin-left: 8px;
        }
      }
    }

    &.disabled {
      textarea, input, .mat-form-field-flex, .mat-checkbox-inner-container, button {
        pointer-events: none;
      }
    }

    .enabled {
      textarea, input, .mat-form-field-flex, .mat-checkbox-inner-container, button {
        pointer-events: auto;
      }
    }

    mat-autocomplete {
      * {
        pointer-events: auto;
      }
    }

    .mat-slide-toggle {
      margin-bottom: 1.34375em;
    }

    [slider] {
      display: flex;
      align-items: center;
      font-size: 75%;

      > mat-slider {
        width: 100%;
        margin: 0 8px 0 8px;
      }
    }
  }

  > [close] {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(16px, -16px);
  }

  .deselected {
    opacity: 0.5;
  }

  > [buttons] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse
    // flex-direction: row;
  }
}

user-info {
  @extend %center-content;
  flex-direction: column;

  > [avatar] {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    border: 8px solid var(--background);
  }

  > text-label {
    text-decoration: underline dotted;
    pointer-events: auto;
    cursor: pointer;
    font-size: 75%;
  }

  > * {
    text-align: center;
    margin: 8px !important;

    &[assignment] {
      font-size: 75%;
      font-weight: bold;
    }
  }
}

qwe-details {

  > [form] {
    > mat-card {
      padding: 8px !important;
      margin-bottom: 16px;

      table {
        width: 100%;

        text-label {
          justify-content: flex-start;
          text-align: left;
        }
      }

      &[files], &[huiles] {
        padding: 16px 0 0 0 !important;
        overflow: auto;
        pointer-events: auto;

        > div {
          @extend %center-content;
          padding: 0 8px 0 8px;

          > * {
            margin: 0 8px 0 8px;
            flex-grow: 1;
            min-width: calc(var(--min-width) - 112px) !important;
          }

          > mat-checkbox {
            padding-bottom: 1.34375em;
          }
        }

      }

      &[files] {
        td {

          &:last-of-type {
            div {
              margin: 8px 0 !important;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            margin: 8px 16px 8px 0;
            white-space: nowrap;

            > div {
              margin: 0;
              white-space: nowrap;
            }
          }
        }
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > div {
          display: flex;
          margin: 8px 0 0 0;
          flex-direction: column;

          &[photos] {
            width: calc(var(--min-width) - 112px) !important;
            flex-grow: 0;
            margin: 8px;

            > [spinner] {
              @extend %center-content;
              margin-bottom: 8px;
            }

            > img {
              border-radius: 4px;
              margin-bottom: 4px;
              width: 100%;

              &[passport-image] {
                pointer-events: auto;
                cursor: pointer;
              }
            }

            > button {
              width: 100%;

              &:not(:last-child) {
                margin-bottom: 16px;
              }
            }
          }

          &[info] {
            flex-grow: 1;

            > div {
              display: flex;
              flex-wrap: wrap;

              > div {
                display: flex;
                flex-direction: column;
                margin: 0 8px;
                flex-grow: 1;
                width: 0;
                min-width: calc(var(--min-width) - 112px) !important;

                > * {
                  width: 100%;
                  min-width: calc(var(--min-width) - 112px);
                }
              }
            }
          }

          &[card] {
            flex-grow: 1;
            flex-direction: column;

            > div {
              display: flex;
              flex-grow: 1;
              flex-wrap: wrap;

              > * {
                margin: 0 8px;
                width: 0;
                flex-grow: 1;
                min-width: calc(var(--min-width) - 112px) !important;

                &.mat-checkbox {
                  margin: 8px;

                  text-label {
                    white-space: normal;
                  }
                }

                &.disabled {
                  .mat-form-field-flex {
                    pointer-events: none;

                    .mat-form-field-infix {
                      > * {
                        pointer-events: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  [big-image] {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    margin: 16px;
    pointer-events: auto;

    > [image] {
      pointer-events: auto;
      flex-grow: 1;
      width: 100%;
      overflow: auto;
      margin-top: 16px;

      > img {
        @extend %animated;
        width: 100%;
      }
    }

    > [buttons] {
      display: flex;
      justify-content: space-between;


      > [zoom] {
        display: flex;

        > .disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

[curtain] {
  @extend %center-content;
  @extend %animated;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0;
  z-index: 10000;

  &.visible {
    pointer-events: auto;
    opacity: 0.75;
  }

}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;

  > [login], > [main] {
    @extend %animated;
    width: 100%;
    height: 0;
    flex-grow: 0;
    overflow: hidden;
    padding: 0;

    &.visible {
      flex-grow: 1;
    }

  }

  > [login] {
    @extend %center-content;
    padding: 0;

    &.visible {
      padding: 16px;
    }

    > mat-card {
      display: flex;
      flex-direction: column;
      width: var(--min-width);

      [logo] {
        @extend %center-content;
        background-color: var(--background-light);
        padding: 16px;

        > img {
          width: 400px;
          height: 120px;
        }
      }

      [error] {
        @extend %animated;
        color: var(--warn);
        height: 19px;
        margin: 16px 0;
        opacity: 0;
        font-size: 75%;

        &.visible {
          opacity: 1;
        }
      }

      [forgot-password] {
        font-size: 75%;
        text-decoration: underline dotted;
        margin-top: 16px;
      }

    }
  }

  > [main] {
    position: relative;
    display: flex;
    justify-content: center;

    > [menu] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 240px;
      width: 240px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      z-index: 1;

      > [top] {

        > [logo] {
          @extend %center-content;
          padding: 16px;

          > img {
            width: 144px;
            height: 128px;
          }
        }

        > [menu-container] {
          display: flex;
          flex-direction: column;

          > button {
            @extend %menu-item;
            height: 40px;
          }
        }

      }

      > [logout] {
        @extend %center-content;
        padding: 16px;

        > button {
          display: none;
        }
      }

      > [compact-menu] {
        display: none;

        > span {
          display: flex;
          align-items: center;

          > text-label {
            margin-left: 16px;
          }
        }
      }
    }

    > [content] {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: var(--background-light);

      > * {
        transition: opacity $mat-elevation-transition-duration $mat-elevation-transition-timing-function;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        pointer-events: auto;

        &.inactive {
          opacity: 0;
          transform: translateX(-200%);
        }

        > [buttons] {
          @extend %center-content;
          flex-wrap: wrap;
          margin-bottom: 16px;

          > * {
            min-height: 36px;
            margin: 16px 16px 0 0;

            &:last-child {
              margin-right: 0;
            }

            text-label {
              margin: 0 8px;
              white-space: nowrap;
            }
          }
        }

        &[hierarchy] {
          display: flex;
          flex-direction: column;
          padding: 16px;

          > mat-card {
            width: 100%;
            margin-bottom: 16px;

            [primary-organization] {
              font-weight: normal;
            }
          }
        }

        &[categories], &[promotions] {
          > table-sort {
            padding: 16px;
            width: 100%;

            .mat-column-amount, .mat-column-min_value, .mat-column-max_value {
              text-align: right;

              .mat-sort-header-container {
                text-align: right;
                flex-direction: row-reverse;
              }
            }
          }
        }

        &[exchanges], &[files] {
          padding: 16px;

          .mat-form-field-wrapper {
            padding-bottom: 0 !important;
          }

          > mat-card {
            margin-bottom: 8px;
            padding: 8px;

            [top] {
              display: flex;
              justify-content: space-between;
              margin: 8px;

              > [search] {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                margin: 0 4px 4px 0;
              }

              > [search-submit], > [edit-filters] {
                max-height: 60px;
                margin: 4px 0 0 4px;

                &.selected {
                  background-color: var(--background-light);
                }
              }
            }
          }
        }

      }
    }
  }
}

%menu-item {
  @extend %animated;
  height: 40px;
  justify-content: flex-start;

  &.selected {
    background-color: var(--primary);
    color: var(--primary-text)
  }

  text-label {
    justify-content: flex-start;
    white-space: nowrap;
    height: 100%;
  }
}

.top-menu, .user-menu {
  width: var(--min-width);
  background-color: white;
}

.top-menu {

  button {
    @extend %menu-item;
  }
}

.user-menu {

  .mat-menu-content {
    @extend %center-content;
    padding: 16px !important;
  }
}

mat-tree {
  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  ul {
    &.hidden {
      display: none;
    }
  }

  .mat-button-wrapper {
    text-align: left;
    padding: 8px 0;
  }

  mat-icon {
    @extend %animated;

    &.expanded {
      transform: rotate(90deg);
    }
  }
}

table-sort {
  display: block;

  table {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    text-label {
      justify-content: flex-start;
      text-align: left;
    }

    tr.clickable {
      @extend %animated;
      pointer-events: auto;
      cursor: pointer;

      &:active, &:hover {
        background-color: var(--background-light);
      }

      td {
        pointer-events: auto;
      }
    }
  }
}


search-exchange-filters, search-file-filters {
  display: block;

  .mat-expansion-panel-body {
    padding: 0 !important;

    > [line] {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > * {
        flex-grow: 1;
        min-width: calc(var(--min-width) - 64px);
        margin: 8px !important;

        &[double] {
          display: flex;
          flex-wrap: nowrap;

          > * {
            flex-grow: 1;
            min-width: 0;
            width: 0;

            &:first-child {
              margin-right: 8px;
            }
          }

        }

        &[triple] {
          display: flex;
          flex-wrap: wrap;

          > * {
            flex-grow: 1;
            min-width: calc((var(--min-width) - 56px) * 2 / 3);
            width: 0;
          }
        }

        mat-slide-toggle {
          @extend %center-content;
          min-height: 58px;
        }
      }
    }

    > [buttons] {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 8px 8px 8px;
    }
  }

  > mat-chip-list {
    display: flex;
    flex-wrap: wrap;

    &[role="listbox"] {
      margin: 8px;
    }

  }
}

search-exchange-results, search-file-results {
  display: block;

  mat-progress-bar {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  mat-card {
    padding: 0 !important;
    overflow: auto;
    pointer-events: auto;

    table {
      width: 100%;

      .mat-sort-header-container {
        text-label {
          text-align: left;
        }
      }

      .mat-header-cell:first-child {
        padding-right: 16px !important;
      }

      .mat-cell:first-child {
        padding-right: 16px !important;
      }

      .mat-header-cell:not(last-child) {
        padding-left: 16px !important;
      }

      .mat-cell:not(first-child) {
        padding: 4px 0 4px 16px !important;
      }

      .mat-cell:last-child {
        padding-right: 16px !important;
      }

      .mat-column-mark {
        text-align: right;

        > .mat-sort-header-container {
          flex-direction: row-reverse;
        }
      }
    }

    > h2 {
      padding: 16px;
    }
  }

  > [controls] {
    display: flex;
    align-items: center;
    margin: 16px 0;

    > button {
      margin-right: 16px;
      min-height: 40px;
    }

    > [pagination] {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 0;

      > text-label {
        font-size: 75%;
        margin-right: 16px;
      }
    }
  }
}

search-exchange-results, search-file-results {
  mat-card {
    table {
      [checkbox-cell] {
        width: 16px;
      }

      tbody {
        tr.clickable {
          &:hover {
            background-color: var(--background-light);
          }

          td:not([checkbox-cell]) {
            pointer-events: auto;
            cursor: pointer;
          }
        }
      }

      .mat-table-sticky:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }
}

selected-exchanges, selected-files {
  display: flex;

  > mat-expansion-panel {
    width: 100%;

    &.mat-expanded {
      margin-bottom: 8px;
    }

    .mat-expansion-panel-body {
      padding: 0 16px 16px;
    }

    [actions] {
      .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
      }

      &.mat-expanded {
        margin-top: 16px;

        button:not(last-child) {
          margin-top: 8px;
        }
      }

    }

    [buttons] {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
    }
  }
}

link-preview {
  display: block;
  position: absolute;
  width: 448px;
  left: 50%;
  transform: translateY(50%);
  z-index: 1;

  mat-card {
    &.hidden {
      display: none;
    }
  }

  [spinner] {
    @extend %center-content;
  }

  .mat-card-title {
    margin-bottom: 0 !important;
  }

  img {
    margin-top: 8px;
    max-width: 100%;
  }

  mat-card-content {
    margin: 8px 0 0 0 !important;
    text-align: left;
  }
}

@media only screen and (max-width: $compact-width), screen and (max-height: 800px) {
  app-root {
    > [main] {
      flex-direction: column;

      > [menu] {
        width: 100%;
        min-height: var(--compact-menu-height);
        height: var(--compact-menu-height);
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;

        > [top] {
          display: none;
        }

        > [logout] {
          padding: 0;

          > user-info {
            display: none;
          }

          > button {
            display: block;
            height: var(--compact-menu-height);
            width: var(--compact-menu-height);
          }
        }

        > [compact-menu] {
          display: flex;
        }
      }

      > [content] {
        width: 100%;
      }
    }
  }
}
